
<div class="banner bg-image w-100 d-flex justify-content-center align-items-center">
  <h1>Here is to enjoy your pandemic life....</h1>
</div>

<div class="d-flex m-20 justify-content-center">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: 'text-decoration-none' do %>
    <div style ="height: 200px; width: 300px; color:white; " class="card rounded shadow bg-secondary m-3 d-flex justify-content-center text-center">
      <h3><%= list.name %></h3>
    </div>
    <% end %>
  <% end %>
</div>
